footer.footer
  img.shape.footer__shape3(src="img/shape3.svg", alt="")
  img.shape.footer__shape4(src="img/shape4.svg", alt="")
  .wrapper
    .footer__wrapper
      a.footer__logo(href="")
        img(src="img/icons/icons.svg#logo-white", alt="")
      .footer__menu
        ul.footer__top-menu
          li
            a(href="/news.html") новости
          li
            a(href="/federation.html") федерация
          li
            a(href="/national.html") сборная
          li
            a(href="/sorevnovania.html") соревнования
          li
            a(href="/docs.html") документы
          li
            a(href="/story.html") история
          li
            a(href="/contatcs.html") контакты
        ul.footer__bottom-menu
          li
            a(href="") Президент
          li
            a(href="") Совет
          li
            a(href="") Тренера
          li
            a(href="") Члены ФСорт
          li
            a(href="") Судья
          li
            a(href="") База спортсменов
          li
            a(href="") Члены сборной
          li
            a(href="") Критерии отбора
          li
            a(href="") Порядок формирования
          li
            a(href="") Список команды
          li
            a(href="") Архив соревнования
        .socials.flex.footer__socials
          //- a.socials__item.socials__item--fb(href="")
          //-   img(src="img/icons/icons.svg#fb-white", alt="")
          a.socials__item.socials__item--vk(href="https://vk.com/orientrt", target="_blank")
            img(src="img/icons/icons.svg#vk-white", alt="")
          //- a.socials__item.socials__item--ok(href="")
          //-   img(src="img/icons/icons.svg#ok-white", alt="")
          a.socials__item.socials__item--ig(href="https://www.instagram.com/orientrt/", target="_blank")
            img(src="img/icons/icons.svg#insta-white", alt="")
          //- a.socials__item.socials__item--tw(href="")
          //-   img(src="img/icons/icons.svg#twitter-white", alt="")