footer.footer
  img.shape.footer__shape3(src="img/shape3.svg", alt="")
  img.shape.footer__shape4(src="img/shape4.svg", alt="")
  .wrapper
    .footer__wrapper
      a.footer__logo(href="")
        img(src="img/icons/icons.svg#logo-white", alt="")
      .footer__menu
        ul.footer__top-menu
          li
            a(href="") новости
          li
            a(href="") федерация
          li
            a(href="") сборная
          li
            a(href="") соревнования
          li
            a(href="") документы
          li
            a(href="") история
          li
            a(href="") контакты
        ul.footer__bottom-menu
          li
            a(href="") Президент
          li
            a(href="") Совет
          li
            a(href="") Тренера
          li
            a(href="") Члены ФСорт
          li
            a(href="") Судья
          li
            a(href="") База спортсменов
          li
            a(href="") Члены сборной
          li
            a(href="") Критерии отбора
          li
            a(href="") Порядок формирования
          li
            a(href="") Список команды
          li
            a(href="") Архив соревнования
        .socials.flex.footer__socials
          a.socials__item.socials__item--fb(href="")
            img(src="img/icons/icons.svg#fb-white", alt="")
          a.socials__item.socials__item--vk(href="")
            img(src="img/icons/icons.svg#vk-white", alt="")
          a.socials__item.socials__item--ok(href="")
            img(src="img/icons/icons.svg#ok-white", alt="")
          a.socials__item.socials__item--ig(href="")
            img(src="img/icons/icons.svg#insta-white", alt="")
          a.socials__item.socials__item--tw(href="")
            img(src="img/icons/icons.svg#twitter-white", alt="")