doctype
html(lang="ru")
	head
		title Document
		include assets/_metas
		include assets/_links
	body
		main.content.content--page
			.page-left
			include ../components/header/header

			section.page
				.wrapper
					.page__wrapper
						h2.news__title Связаться с нами

						.contacts
							.contacts__left
								p.contacts__text Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside
								a.contacts__phone(href="tel:8 (843) 519-74-83") 8 (843) 519-74-83
							.contacts__right
								form.contacts__form(action="")
									strong.contacts__form_title Скажи привет

									input(type="hidden", name="project_name", value="Tatorient")
									input(type="hidden", name="admin_email", value="sergsergv@yandex.ru")
									input(type="hidden", name="form_subject", value="Заявка с сайта")

									label.drop
										span.drop__text кому
										.drop__items
											span.drop__item 
												span Тренерам
											span.drop__item 
												span Спортсменам
											span.drop__item 
												span Секретарю
										input(type="hidden", name="adresat", value="Тренерам")
									input.contacts__input(type="text",name="name", placeholder="ваше имя")
									textarea.contacts__textarea(name="message", placeholder="текст")
									button.btn.contacts__btn(type="submit") отправить сообщение
			
						

		include ../components/footer/footer
		
		include assets/_scripts