doctype
html(lang="ru")
	head
		title Document
		include assets/_metas
		include assets/_links
	body
		main.content.content--page
			.page-left
			include ../components/header/header

			section.page
				.wrapper
					.page__wrapper
						h2.news__title Документы
						
						
						section.national
							form.national__form(action="")
								select.select(name="year")
									option(value="default" default) категории
									option(value="категория1") категория1
									option(value="категория2") категория2
									option(value="категория3") категория3
								select.select(name="year")
									option(value="default" default) год
									option(value="2017") 2017
									option(value="2018") 2018
									option(value="2019") 2019
								label.label
									input.input(type="text")
									button.button(type="submit")

							.docs
								h3.federation__block_title 2019 год
								.docs__list
									a.file.file-doc.flex(href="")
										i
										span Критерии отбора в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Порядок формирования списка кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Критерии отбора в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Порядок формирования списка кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ

							.docs
								h3.federation__block_title 2018 год
								.docs__list
									a.file.file-doc.flex(href="")
										i
										span Критерии отбора в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Порядок формирования списка кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Критерии отбора в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Порядок формирования списка кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ

							.docs
								h3.federation__block_title 2017 год
								.docs__list
									a.file.file-doc.flex(href="")
										i
										span Критерии отбора в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Порядок формирования списка кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Критерии отбора в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Порядок формирования списка кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ
									a.file.file-doc.flex(href="")
										i
										span Список кандидатов в сборную РТ



		include ../components/footer/footer
		
		include assets/_scripts