doctype
html(lang="ru")
	head
		title Document
		include assets/_metas
		include assets/_links
		include assets/_scripts
	body
		main.content.content--page
			.page-left
			include ../components/header/header

			section.page
				.wrapper
					.page__wrapper
						h2.page__title О нашей ФСО РТ
						.president
							.president__img
								img(src="img/president.jpg", alt="")
							.president__content
								strong.president__dolg Президент
								strong.president__name Cидоров
									br
									|Алексей
									br
									|Анатольевич
								span.president__description Мастер спорта, Чемпион России, член сборной команды РФ 2005-2015 гг. тренер высшей категории

						.federation__block.federation__block--three
							h3.federation__block_title Члены ФСО РТ
							.federation__flex
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener1.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener2.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener3.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener1.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener2.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener3.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич

						.federation__block.federation__block--four
							h3.federation__block_title Тренера
							.federation__flex
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener1.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener2.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener3.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener1.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener2.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener3.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener2.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
								.federation__item
									.federation__item_container
										img.federation__item_img(src="img/trener3.jpg", alt="")
										.federation__item_over
											span Церюков Александр Юрьевич
						
						.federation__files
							a.file.file-doc.flex(href="")
								i
								span Положение
							a.file.file-doc.flex(href="")
								i
								span Информация 15 сентября
							a.file.file-doc.flex(href="")
								i
								span Схема 15 сентября
			
		include ../components/footer/footer