doctype
html(lang="ru")
	head
		title Document
		include assets/_metas
		include assets/_links
	body
		main.content.content--page
			.page-left
			include ../components/header/header

			section.page
				.wrapper
					.page__wrapper
						h2.news__title Соревнования
						
						section.national
							form.national__form(action="")
								select.select(name="year")
									option(value="default" default) категории
									option(value="категория1") категория1
									option(value="категория2") категория2
									option(value="категория3") категория3
								select.select(name="year")
									option(value="default" default) год
									option(value="2017") 2017
									option(value="2018") 2018
									option(value="2019") 2019
								label.label
									input.input(type="text")
									button.button(type="submit")
							
							.sorevnovania__block
								h3.federation__block_title 2019 год
								.news__list.sorevnovania__list
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news1.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news2.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news3.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news2.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news1.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news2.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию

							.sorevnovania__block
								h3.federation__block_title 2018 год
								.news__list.sorevnovania__list
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news1.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news2.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news3.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news2.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news1.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news2.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию

							.sorevnovania__block
								h3.federation__block_title 2017 год
								.news__list.sorevnovania__list
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news1.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news2.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news3.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news2.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news1.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									.news__item
										a.news__item_container(href="")
											img.news__item_img(src="img/news2.png", alt="")
											.news__item_over
												strong Чемпионат и Первенство Пфо по спортивному ориентированию
									



							


		include ../components/footer/footer
		
		include assets/_scripts