doctype
html(lang="ru")
	head
		title Document
		include assets/_metas
		include assets/_links
		include assets/_scripts
	body
		main.content.content--page
			.page-left
			include ../components/header/header

			section.page
				.wrapper
					.page__wrapper
						h2.page__title Хронология важных событий


						.story__block
							h3.story__title Значимые люди в истории РТ
							.story__man.news-page__item
								.news-page__item_img
									img(src="", alt="")
								.news-page__item_content
									h3.news-page__item_title Роман Романович Романовский
									p.news-page__item_text Положение о чемпионатах и первенствах Республики Татарстан по спортивному ориентированию на 2019 год можно посмотреть здесь.
										br
										|Календарь соревнований, в котором планирует участие сборная команда Республики Татарстан в 2019 году
							.story__man.news-page__item
								.news-page__item_img
									img(src="", alt="")
								.news-page__item_content
									h3.news-page__item_title Роман Романович Романовский
									p.news-page__item_text Положение о чемпионатах и первенствах Республики Татарстан по спортивному ориентированию на 2019 год можно посмотреть здесь.
										br
										|Календарь соревнований, в котором планирует участие сборная команда Республики Татарстан в 2019 году
							.story__man.news-page__item
								.news-page__item_img
									img(src="", alt="")
								.news-page__item_content
									h3.news-page__item_title Роман Романович Романовский
									p.news-page__item_text Положение о чемпионатах и первенствах Республики Татарстан по спортивному ориентированию на 2019 год можно посмотреть здесь.
										br
										|Календарь соревнований, в котором планирует участие сборная команда Республики Татарстан в 2019 году

						.story__block
							h3.story__title Лучшие спортсмены РТ
							.story__man.news-page__item
								.news-page__item_img
									img(src="", alt="")
								.news-page__item_content
									h3.news-page__item_title Роман Романович Романовский
									p.news-page__item_text Положение о чемпионатах и первенствах Республики Татарстан по спортивному ориентированию на 2019 год можно посмотреть здесь.
										br
										|Календарь соревнований, в котором планирует участие сборная команда Республики Татарстан в 2019 году
							.story__man.news-page__item
								.news-page__item_img
									img(src="", alt="")
								.news-page__item_content
									h3.news-page__item_title Роман Романович Романовский
									p.news-page__item_text Положение о чемпионатах и первенствах Республики Татарстан по спортивному ориентированию на 2019 год можно посмотреть здесь.
										br
										|Календарь соревнований, в котором планирует участие сборная команда Республики Татарстан в 2019 году
									
						

		include ../components/footer/footer