
//- Кодировка
meta(charset="UTF-8")

//- Тег viewport
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

//- Краткое описание веб-страницы
meta(name="description", content="Page description")

//- Ключевые слова (через запятую)
meta(name="keywords", content="page, keywords")

//- Цвет темы веб-приложения
meta(name="theme-color", content="#000000")

//- Авторский права
meta(name="copyright", content="Author")

//- Отключение отображения номера как ссылки
meta(name="format-detection", content="telephone=no")

