header.header
  .wrapper
    .header__wrapper.flex
      a.logo.flex(href="/")
        img(src="img/icons/icons.svg#logo", alt="Логотип")
        strong федерация спортивного 
          br
          |ориентирования
          br
          | республики татарстан
      .menu
        .socials.flex.header__socials
          a.socials__item.socials__item--fb(href="")
            img(src="img/icons/icons.svg#fb", alt="")
          a.socials__item.socials__item--vk(href="")
            img(src="img/icons/icons.svg#vk", alt="")
          a.socials__item.socials__item--ok(href="")
            img(src="img/icons/icons.svg#ok", alt="")
          a.socials__item.socials__item--ig(href="")
            img(src="img/icons/icons.svg#insta", alt="")
          a.socials__item.socials__item--tw(href="")
            img(src="img/icons/icons.svg#twitter", alt="")
        ul.menu-main.flex
          li.menu-main__item
            a(href="") новости
          li.menu-main__item
            a(href="") федерация
          li.menu-main__item
            a(href="") сборная
          li.menu-main__item
            a(href="") соревнования
          li.menu-main__item
            a(href="") документы
          li.menu-main__item
            a(href="") история
          li.menu-main__item
            a(href="") контакты
