header.header
  .wrapper
    .header__wrapper.flex
      a.logo.flex(href="/")
        img(src="img/icons/icons.svg#logo", alt="Логотип")
        strong федерация спортивного 
          br
          |ориентирования
          br
          | республики татарстан
      .menu
        .menu__container
          a.logo.flex.menu__logo(href="/")
            img(src="img/icons/icons.svg#logo", alt="Логотип")
            strong федерация спортивного 
              br
              |ориентирования
              br
              | республики татарстан

          .socials.flex.header__socials
            //- a.socials__item.socials__item--fb(href="")
            //-   img(src="img/icons/icons.svg#fb", alt="")
            a.socials__item.socials__item--vk(href="https://vk.com/orientrt", target="_blank")
              img(src="img/icons/icons.svg#vk", alt="")
            //- a.socials__item.socials__item--ok(href="")
            //-   img(src="img/icons/icons.svg#ok", alt="")
            a.socials__item.socials__item--ig(href="https://www.instagram.com/orientrt/", target="_blank")
              img(src="img/icons/icons.svg#insta", alt="")
            //- a.socials__item.socials__item--tw(href="")
            //-   img(src="img/icons/icons.svg#twitter", alt="")
          ul.menu-main.flex
            li.menu-main__item
              a(href="/news.html") новости
            li.menu-main__item
              a(href="/federation.html") федерация
            li.menu-main__item
              a(href="/national.html") сборная
            li.menu-main__item
              a(href="/sorevnovania.html") соревнования
            li.menu-main__item
              a(href="/docs.html") документы
            li.menu-main__item
              a(href="/story.html") история
            li.menu-main__item
              a(href="/contacts.html") контакты

      .socials.flex.mobile__socials
        //- a.socials__item.socials__item--fb(href="")
        //-   img(src="img/icons/icons.svg#fb", alt="")
        a.socials__item.socials__item--vk(href="https://vk.com/orientrt", target="_blank")
          img(src="img/icons/icons.svg#vk", alt="")
        //- a.socials__item.socials__item--ok(href="")
        //-   img(src="img/icons/icons.svg#ok", alt="")
        a.socials__item.socials__item--ig(href="https://www.instagram.com/orientrt/", target="_blank")
          img(src="img/icons/icons.svg#insta", alt="")
        //- a.socials__item.socials__item--tw(href="")
        //-   img(src="img/icons/icons.svg#twitter", alt="")
      
      .butter
        
